* {
    box-sizing: border-box;
}

html {
    font-family: "Verdana", sans-serif;
    text-align: center;
    background-color: black;
    color: white;
}

h1 {
    font-weight: normal;
    font-size: 50px;
}

a {
    color: aquamarine;
    font-size: 16px;
}

h2 {
    font-weight: normal;
    font-size: 42px;
}

p {
    font-size: 21px;
    color: gray;
}

.box {
    display : grid;
    justify-items: center;
}

video {
    margin-top: 30px;
    width: 420px;
}

.icon {
    margin-top: 30px;
}

footer {
    text-align: right;
}